release/*
.idea
*.iml
.terraform
**/.terraform/
.workdir/
**/*.tfvars.json
**/*.tfstate
**/*.tfstate.*
**/terraform.tfstate.d/
**/*.planfile
**/backend.tf.json
**/.terraform.lock.hcl
**/.*.terraform.lock.hcl
**/*.junit.xml
**/account-map.deprecated.tf
**/*_override.tf
**/*_override.tf.json

.tools

# Atmos JIT source-provisioned fixture components
terraform/components/vpc/
terraform/components/ecs/cluster/
