name: Feature Branch
on:
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened, labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ["ubuntu-latest"]
    steps:
      - name: Install Atmos
        uses: cloudposse/github-action-setup-atmos@v2
        with:
          install-wrapper: false
          atmos-version: v1.198.0-test.12

      - name: Checkout
        uses: actions/checkout@v4

      - name: ECR password
        shell: bash
        run: |
          atmos auth exec --identity plat-dev/admin -- aws configure export-credentials --format env-no-export >> $GITHUB_ENV
        env:
          ATMOS_CLI_CONFIG_PATH: .github

      - name: Mask ECR credentials
        shell: bash
        run: |
          echo "::mask::${{ env.AWS_SECRET_ACCESS_KEY }}"
          echo "::mask::${{ env.AWS_ACCESS_KEY_ID }}"
          echo "::mask::${{ env.AWS_SESSION_TOKEN }}"

      - name: Login to Public ECR
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.ECR_REGISTRY }}

      - name: Build
        id: build
        uses: cloudposse/github-action-docker-build-push@v2
        with:
          organization: cloudposse-examples
          repository: app-on-ecs-v2
          registry: ${{ vars.ECR_REGISTRY }}

    outputs:
      image: ${{ steps.build.outputs.image }}
      tag: ${{ steps.build.outputs.tag }}
      
  deploy:
    needs: [ build ]
    runs-on: ["ubuntu-latest"]
    if: ${{ contains(github.event.pull_request.labels.*.name, 'deploy') }}
    environment:
      name: preview
      url: ${{ steps.deploy.outputs.url }}
    steps:
      - name: Install Atmos
        uses: cloudposse/github-action-setup-atmos@v2
        with:
          install-wrapper: false
          atmos-version: v1.197.0-test.34

      - name: Checkout
        uses: actions/checkout@v4

      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_wrapper: false
          tofu_version_file: .opentofu-version          

      # - name: Configure AWS Credentials
      #   uses: aws-actions/configure-aws-credentials@v5.1.0
      #   with:
      #     aws-region: us-east-2
      #     role-to-assume: arn:aws:iam::068007702576:role/cplive-plat-gbl-dev-terraform

      - name: Deploy ECS Service
        shell: bash
        id: deploy
        env:
          APP_IMAGE: "${{ needs.build.outputs.image }}:${{ needs.build.outputs.tag }}"
          PR_NUMBER: ${{ github.event.pull_request.number }}
          ATMOS_CLI_CONFIG_PATH: .github  
        run: |
          atmos terraform deploy app -s preview --identity plat-dev/admin
          URL=$(atmos terraform output app -s preview --identity plat-dev/admin --skip-init -- -raw url)
          echo "url=$URL" >> $GITHUB_OUTPUT
          