name: Feature Branch
on:
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened, closed, labeled, unlabeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ["ubuntu-latest"]
    steps:
      - name: Install Atmos
        uses: cloudposse/github-action-setup-atmos@v2
        with:
          install-wrapper: false
          atmos-version: v1.197.0-test.34


      - name: Checkout
        uses: actions/checkout@v4

      - name: ECR password
        shell: bash
        id: ecr
        run: |
          atmos version
          PASSWORD=$(atmos auth exec --identity plat-dev/gha -- aws ecr get-login-password --region us-east-2)
          echo "password=${PASSWORD}" >> $GITHUB_OUTPUT
          echo "::add-mask::${PASSWORD}"

      - name: Build
        id: build
        uses: cloudposse/github-action-docker-build-push@v2
        with:
          organization: cloudposse-examples
          repository: app-on-ecs-v2
          registry: ${{ secrets.ECR_REGISTRY }}
          password: "${{ steps.ecr.outputs.password }}"
          login: "AWS"

  # do:
  #   uses: ./.github/workflows/ecspresso-feature-branch.yml
  #   with:
  #     organization: "${{ github.event.repository.owner.login }}"
  #     repository: "${{ github.event.repository.name }}"
  #     open: ${{ github.event.pull_request.state == 'open' }}
  #     labels: ${{ toJSON(github.event.pull_request.labels.*.name) }}
  #     ref: ${{ github.event.pull_request.head.ref  }}
  #     app: "example-${{ github.event.repository.name }}" # example-app-on-ecs
  #     use-partial-taskdefinition: true

  #   secrets:
  #     github-private-actions-pat: "${{ secrets.PRIVATE_CONFIG_READ_ACCESS }}"
  #     registry: "${{ secrets.ECR_REGISTRY }}"
  #     secret-outputs-passphrase: "${{ secrets.GHA_SECRET_OUTPUT_PASSPHRASE }}"
  #     ecr-region: "${{ secrets.ECR_REGION }}"
  #     ecr-iam-role: "${{ secrets.ECR_IAM_ROLE }}"
