name: Release
on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read

jobs:
  promote:
    runs-on: ["ubuntu-latest"]
    steps:
      - name: Install Atmos
        uses: cloudposse/github-action-setup-atmos@v2
        with:
          install-wrapper: false
          atmos-version: v1.197.0-test.34

      - name: Checkout
        uses: actions/checkout@v4

      - name: ECR password
        shell: bash
        run: |
          atmos auth exec --identity plat-dev/gha -- aws configure export-credentials --format env-no-export >> $GITHUB_ENV

      - name: Mask ECR credentials
        shell: bash
        run: |
          echo "::mask::${{ env.AWS_SECRET_ACCESS_KEY }}"
          echo "::mask::${{ env.AWS_ACCESS_KEY_ID }}"
          echo "::mask::${{ env.AWS_SESSION_TOKEN }}"

      - name: Login to Public ECR
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.ECR_REGISTRY }}

      - uses: cloudposse/github-action-docker-promote@v0.5.0
        id: promote
        with:
          organization: cloudposse-examples
          repository: app-on-ecs-v2
          registry: ${{ vars.ECR_REGISTRY }}
          from: sha-${{ github.sha }}
          to: ${{ github.event.release.tag_name }}
          use_metadata: false
  
    outputs:
      image: ${{ steps.promote.outputs.image }}
      tag: ${{ steps.promote.outputs.tag }}
      
  deploy-staging:
    needs: [ promote ]
    runs-on: ["ubuntu-latest"]
    name: deploy / staging
    environment:
      name: staging
      url: ${{ steps.deploy.outputs.url }}
    steps:
      - name: Install Atmos
        uses: cloudposse/github-action-setup-atmos@v2
        with:
          install-wrapper: false
          atmos-version: v1.197.0-test.34

      - name: Checkout
        uses: actions/checkout@v4

      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_wrapper: false
          tofu_version_file: .opentofu-version          

      - name: Deploy ECS Service
        shell: bash
        id: deploy
        env:
          APP_IMAGE: "${{ needs.promote.outputs.image }}:${{ needs.promote.outputs.tag }}"
        run: |
          atmos terraform deploy app -s staging --identity plat-dev/gha
          URL=$(atmos terraform output app -s staging --skip-init -- -raw url)
          echo "url=$URL" >> $GITHUB_OUTPUT

  deploy-production:
    needs: [ deploy-staging, promote ]
    runs-on: ["ubuntu-latest"]
    name: deploy / production
    environment:
      name: prod
      url: ${{ steps.deploy.outputs.url }}
    steps:
      - name: Install Atmos
        uses: cloudposse/github-action-setup-atmos@v2
        with:
          install-wrapper: false
          atmos-version: v1.197.0-test.34

      - name: Checkout
        uses: actions/checkout@v4

      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_wrapper: false
          tofu_version_file: .opentofu-version          

      - name: Deploy ECS Service
        shell: bash
        id: deploy
        env:
          APP_IMAGE: "${{ needs.promote.outputs.image }}:${{ needs.promote.outputs.tag }}"
        run: |
          atmos terraform deploy app -s prod --identity plat-dev/gha
          URL=$(atmos terraform output app -s prod --identity plat-dev/gha --skip-init -- -raw url)
          echo "url=$URL" >> $GITHUB_OUTPUT
          